<div class="form-group mb-2">
    <label for="title"><h5>Title</h5></label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<hr>
    <div class="form-group mt-2 mb-2">
        <h2>Type a new article for the category</h2> <br>
        <label for="name"><h5>Name</h5></label>
        <input required type="text" name="name" id="name" class="form-control">
    </div>
    
    <div class="form-group mb-2">
        <label for="description"><h5>Description</h5></label>
        <textarea required type="text" name="description" id="description" class="form-control"></textarea>
    </div>

    <div class="form-group mb-2">
        <h5>Size</h5>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="XS" class="form-check-input" required> XS
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="S" class="form-check-input" required> S
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="M" class="form-check-input" required> M
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="L" class="form-check-input" required> L
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="XL" class="form-check-input" required> XL
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="size" value="XXL" class="form-check-input" required> XXL
            </label>
        </div>
    </div>    

    <div class="form-group mb-2">
        <h5>Color</h5>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Red" class="form-check-input" required> Red
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Blue" class="form-check-input" required> Blue
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Green" class="form-check-input" required> Green
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Yellow" class="form-check-input" required> Yellow
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Purple" class="form-check-input" required> Purple
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Orange" class="form-check-input" required> Orange
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="White" class="form-check-input" required> White
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="color" value="Black" class="form-check-input" required> Black
            </label>
        </div>
    </div>
    

    <div class="form-group mb-4">
        <label for="price"><h5>Price (lei)</h5></label>
        <input required type="number" name="price" id="price" class="form-control" min="1" step="0.01">
    </div>
    


    <button onclick="goBack()" class="btn btn-secondary">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>

    <script>
        function goBack() {
            window.history.go(-1);
        }
    </script>
    
